body {
	background-color:#f7f2f2;
	color:#155267;
	font-family:"Segoe UI", sans-serif
}

#app input {
	background-color:transparent;
	border:1px solid #bbb;
	border-radius:5px;
	outline:none
}

#app input[type=number] {
	padding:7px 10px
}

#app #branding {
	border-bottom:4px dotted #206dc7;
	margin:30px 0;
	padding-bottom:10px;
	width:200px
}

#app #branding img {
	width:200px
}

#app #tip-calculator {
	-webkit-box-shadow:0 9px 11px 5px rgba(0,0,0,0.11);
	background-color:#fff;
	border-radius:5px;
	box-shadow:0 9px 11px 5px rgba(0,0,0,0.11);
	position: relative
}

#app #tip-calculator #next-button {
	position: absolute;
	bottom: -70px;
	right: 0;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #206dc7;
	color: #fff;
	border: none;
	cursor: pointer;
}

#app #tip-calculator .vertical-doted-rule {
	border-right:4px dotted #206dc7;
	height:250px
}

#app #tip-calculator #info-panel #currency-switcher {
	width:50px
}

#app #tip-calculator #info-panel #next-currency {
	cursor:pointer;
	height:20px;
	width:20px
}

#app #tip-calculator #info-panel .icon-box {
	background-color:#206dc7;
	border-radius:5px;
	height:50px;
	padding:10px;
	width:50px
}

#app #overview-panel,#app #info-panel {
	padding:20px
}

#app #overview-panel > div:not(:last-child) {
	border-bottom:1px solid #d0d0d0;
	padding-bottom:10px
}