* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

input {
	width: 100%;
}

label {
	margin: 10px 0;
}

/* Text */
.text-center {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

/* Spacing */
.margin-left {
	margin-left: 10px;
}

.margin-right {
	margin-right: 10px;
}

.margin-top {
	margin-top: 10px;
}

/* Layout */
.container {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

.half-width {
	width: 50%;
}

.full-width {
	width: 100%;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

