<template>
    <div id="info-panel">
        <div class="flex items-center">
            <img class="icon-box" src="https://img.icons8.com/ios-glyphs/60/ffffff/currency-exchange.png"/>
            <div class="margin-left full-width flex items-center">
                <label id="currency-switcher" class="text-bold">{{currencies[currencyIndex].symbol}} {{currencies[currencyIndex].initials}} </label>
                <img @click="nextCurrency" id="next-currency" class="margin-left" src="https://img.icons8.com/ios-filled/40/206dc7/chevron-right.png"/>
            </div>
        </div>

        <div class="flex items-center margin-top">
            <img class="icon-box" src="https://img.icons8.com/ios-filled/60/ffffff/mts-money.png"/>
            <div class="margin-left full-width">
                <label class="text-bold">valor {{currencies[currencyIndex].symbol}}</label>
                <input min="0" v-model.number="current" @keyup="validateBeforeEmmit" type="number" />
            </div>
        </div>

        <div class="flex items-center margin-top">
            <img class="icon-box" src="https://img.icons8.com/ios-filled/60/ffffff/donate.png"/>
            <div class="margin-left full-width">
                <label class="text-bold">Gorgeta - {{tipPercent}}%</label>
                <input min="10" max="20" v-model.number="tipPercent" @change="emmitCalculate" type="range"/>
            </div>
        </div>

        <div class="flex items-center margin-top">
            <img class="icon-box" src="https://img.icons8.com/fluency-systems-filled/60/ffffff/conference-call.png"/>
            <div class="margin-left full-width">
                <label class="text-bold">Pessoas - {{peopleAmount}}</label>
                <input min="2" max="16" v-model.number="peopleAmount" @change="emmitCalculate" type="range"/>
            </div>
        </div>
    </div>
</template>

<script>
import API from "../api";

export default {
    data: () => Object({
        current: 0,
        tipPercent: 10,
        peopleAmount: 2,
        currencyIndex: 0,
        hasEntered: false,
        currencies: [{
            symbol: "$",
            initials: "USD",
            quote: 1,
        },
        {
            symbol: "€",
            initials: "EUR",
            quote: 1,
        }],
    }),

    created: function() {
        // this generic way allows to have more than two currencies
        const currencies = this.currencies.map(e => `"${e.initials}"`).join(",");

        // graphql query as template string
        API(`{
            latest(baseCurrency: "BRL", quoteCurrencies: [${currencies}]) {
                quoteCurrency
                quote
            }
        }`)
        .then(data => {

            // sync this currencies to api currencies
            data.latest.forEach(other => {

                // get actual currencie on $data
                const [target] = this.currencies.filter(e => e.initials == other.quoteCurrency);

                // set the real currency quote
                target.quote = other.quote;
            });

            this.emmitCalculate();
        });
    },

    methods: {

        // reactive input change
        emmitCalculate: function() {

            // current needs to be changed once 
            if(this.current == 0 && this.currencyIndex != 0) {
                return;
            }

            this.$root.$emit("calculate", this.$data);
        },

        // numeric input needs more attention
        validateBeforeEmmit: function(event) {
            if(event.target.value != "" && event.target.value >= 0) {
                this.emmitCalculate();
            }
        },

        nextCurrency: function() {
            this.currencyIndex++;                
            
            if(this.currencyIndex >= this.currencies.length) {
                this.currencyIndex = 0;
            }

            // this is necessary to change the flag and the currency quote
            this.emmitCalculate();
        }
    }
};
</script>