<template>
    <div id="overview-panel">
        <h3>Overview</h3>
        <div class="flex items-center margin-top">
            <img class="icon-tip" src="https://img.icons8.com/ios-glyphs/25/206dc7/overview-pages-2.png" />
            <span class="margin-left">Conta: </span>
            <span class="margin-left text-bold" v-if="currency">{{currency.symbol}} {{current}}</span>
        </div>

        <div class="flex items-center margin-top">
            <img class="icon-tip" src="https://img.icons8.com/ios-filled/25/206dc7/donate.png" />
            <span class="margin-left">Gorjeta: </span>
            <span class="margin-left text-bold" v-if="currency">{{currency.symbol}} {{tipTotal}}</span>
        </div>

        <div class="flex items-center margin-top">
            <img class="icon-tip" src="https://img.icons8.com/ios-glyphs/25/206dc7/plus-math.png"/>
            <span class="margin-left">Total: </span>
            <span class="margin-left text-bold" v-if="currency">{{currency.symbol}} {{totalToPay}}</span>
        </div>

        <div class="flex items-center margin-top">
            <img class="icon-tip" src="https://img.icons8.com/ios-glyphs/25/206dc7/person-male.png" />
            <span class="margin-left">Por pessoa: </span>
            <span class="margin-left text-bold" v-if="currency">{{currency.symbol}} {{perPerson}}</span>
        </div>

        <div class="flex items-center margin-top">
            <img class="icon-tip" src="https://img.icons8.com/material-sharp/25/206dc7/currency-exchange.png" />
            <span class="margin-left">Em Reais: </span>
            <span class="margin-left text-bold" v-if="currency">R$ {{converted}}</span>
        </div>
    </div>
</template>

<script>
export default {
    data: () => Object({
        currency: null,
        current: 0,
        tipTotal: 0,
        totalToPay: 0,
        perPerson: 0,
        converted: 0,
    }),

    mounted() {
        this.$root.$on("calculate", data => {
            this.currency = data.currencies[data.currencyIndex];
            this.current = data.current;
            this.tipTotal = data.tipPercent * data.current / 100;
            this.totalToPay = this.current + this.tipTotal;
            this.perPerson = this.totalToPay / data.peopleAmount;
            this.converted = this.totalToPay * (1 / this.currency.quote);

            // fix all numeric values to 2 decimal float number
            Object.keys(this.$data).forEach((key) => {
                if(typeof this.$data[key] == "number") {
                    this.$data[key] = this.$data[key].toFixed(2);
                }
            });
        });
    }
};
</script>