<template>
 <div id="app" class="container">

    <h1 id="branding">Le / Tip</h1>

    <!-- @SEARCH: two components to handle differents devices or a big/complex one -->
    <div v-show="!responsive" class="flex items-center" id="tip-calculator">
        <InfoPanel class="half-width"></InfoPanel>
        <div class="vertical-doted-rule"></div>
        <OverviewPanel class="half-width"></OverviewPanel>
    </div>

    <div v-show="responsive" id="tip-calculator">
        <InfoPanel v-show="!panelIndex"></InfoPanel>
        <OverviewPanel v-show="panelIndex"></OverviewPanel>
        <button @click="changePanel" id="next-button">
            <img :src="`https://img.icons8.com/ios-filled/20/ffffff/chevron-${panelIndex ? 'left' : 'right'}.png`"/>
        </button>
    </div>
</div>
</template>

<script>

// components
import InfoPanel from "./components/InfoPanel";
import OverviewPanel from "./components/OverviewPanel";

// styles
import "./styles/util.css";
import "./styles/main.css";

export default {
    data: () => Object({
        panelIndex: 0,
        responsive: 0,
    }),

    components: {
        InfoPanel,
        OverviewPanel
    },

    created: function() {
        this.responsive = this.isReponsive();

        // reactive layout
        window.onresize = () => {
            this.responsive = this.isReponsive();
        };
    },

    methods: {
        // we're just checking the resolution on device instead
        isReponsive: function() {
            return window.innerWidth <= 600;
        },

        // on mobile component, we need to switch btwn panel 1 and 0
        changePanel: function() {
            this.panelIndex = !this.panelIndex ? 1 : 0;
        }
    }
};

</script>

<style>
</style>